<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>U.G. Café - Home</title>
  <link rel="stylesheet" href="/css/home.css">
  <script defer src="/js/index.js"></script>
    <script defer src="/js/cart.js"></script>
    <script defer src="/js/products.js"></script>
</head>
<body>
  <%- include('nav') %>
  <header class="hero-section">
    <div class="content">
      <a href="/"><img src="/images/ugCafeLogo2.png" class="logo" alt="U.G. Café Logo 2"></a>
      <p class="sub-heading">Brewing Connections, One Cup at a Time</p>
    </div>
  </header>
  <section class="product">
    <h2 class="product-category">Hot Drinks</h2>
    <div id="hot-drinks-container" class="product-container">
      <% products.forEach(product => { %>
        <% if(product.category === "Hot Drinks") { %>
          <div class="product-card">
            <div class="product-image">
              <img src="<%= product.image %>" class="product-thumb" alt="<%= product.name %>">
              <button class="card-button" data-id="<%= product.id %>">View Details</button>
            </div>
            <div class="product-info">
              <h2 class="product-title"><%= product.name %></h2>
              <p class="product-description"><%= product.description %></p>
              <p class="product-price"><%= product.price %></p>
            </div>
          </div>
        <% } %>
      <% }); %>
    </div>
  </section>
  <section class="product">
    <h2 class="product-category">Cold Drinks</h2>
    <div id="cold-drinks-container" class="product-container">
      <% products.forEach(product => { %>
        <% if(product.category === "Cold Drinks") { %>
          <div class="product-card">
            <div class="product-image">
              <img src="<%= product.image %>" class="product-thumb" alt="<%= product.name %>">
              <button class="card-button" data-id="<%= product.id %>">View Details</button>
            </div>
            <div class="product-info">
              <h2 class="product-title"><%= product.name %></h2>
              <p class="product-description"><%= product.description %></p>
              <p class="product-price"><%= product.price %></p>
            </div>
          </div>
        <% } %>
      <% }); %>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>